body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.profile-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
}

#profile-logo {
    text-align: center;
    margin-bottom: 20px;
    background-image: url("user1.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 120px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="text"], input[type="email"], input[type="date"], input[type="tel"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 90%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.profile-info {
    margin-top: 20px;
    text-align: left;
    padding: 10px;
    border-top: 2px solid #ccc;
    font-size: 16px;
}
